[2021-10-29 11:31] Riddhi9570 opened #4 "Update Readme.md"
When new problem solutions are added in this github repository, please add them in appropriate position in [Readme.md](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/README.md).

Syntax for adding-
- _Problem Name_ | [Problem](_Problem link_) | [Solution](_link of the solution added in this github repository_) | Score: _Max_score_ | _Easy/medium/Hard_

For example-
- Type of Tr

[2021-11-01 07:01] #4 closed

[2022-09-29 16:45] Riddhi9570 opened #8 "C++ : Say "Hello, World!" With C++"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Say "Hello, World!" With C++](https://www.hackerrank.com/challenges/cpp-hello-world/problem?isFullScreen=true)

[2022-09-29 17:06] Riddhi9570 opened #9 "C++ : Input and Output"
Write your solution to this C++ problem of hackerrank :-
Problem link : [Input and Output](https://www.hackerrank.com/challenges/cpp-input-and-output/problem?isFullScreen=true)

[2022-09-29 17:09] Riddhi9570 opened #10 "C++ : Basic Data Types"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Basic Data Types](https://www.hackerrank.com/challenges/c-tutorial-basic-data-types/problem?isFullScreen=true)

[2022-09-29 17:09] Riddhi9570 opened #11 "C++ : Conditional Statements"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Conditional Statements](https://www.hackerrank.com/challenges/c-tutorial-conditional-if-else/problem?isFullScreen=true)

[2022-09-29 17:26] Riddhi9570 opened #12 "C++ : For Loop"
Write your solution to this C++ problem of hackerrank:-
Problem link : [For Loop](https://www.hackerrank.com/challenges/c-tutorial-for-loop/problem?isFullScreen=true)

[2022-09-29 17:31] Riddhi9570 opened #13 "C++ : Functions"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Functions](https://www.hackerrank.com/challenges/c-tutorial-functions/problem?isFullScreen=true)

[2022-09-29 17:34] Riddhi9570 opened #14 "C++ : Pointer"
Write your solution to this C++ problem of hackerrank :-
Problem link : [Pointer](https://www.hackerrank.com/challenges/c-tutorial-pointer/problem?isFullScreen=true)

[2022-09-29 17:42] Riddhi9570 opened #15 "C++ : Arrays Introduction"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Arrays Introduction](https://www.hackerrank.com/challenges/arrays-introduction/problem?isFullScreen=true)

[2022-09-29 17:52] Riddhi9570 opened #16 "C++ : Variable Sized Arrays"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Variable Sized Arrays](https://www.hackerrank.com/challenges/variable-sized-arrays/problem?isFullScreen=true)

[2022-09-29 17:55] Riddhi9570 opened #17 "C++ : StringStream"
Write your solution to this C++ problem of hackerrank:-
Problem link : [StringStream](https://www.hackerrank.com/challenges/c-tutorial-stringstream/problem?isFullScreen=true)

[2022-09-29 17:57] Riddhi9570 opened #18 "C++ : Strings"
Write your solution to this C++ problem of hackerrank:-
Problem link : [Strings](https://www.hackerrank.com/challenges/c-tutorial-strings/problem?isFullScreen=true)

[2022-09-29 18:01] Riddhi9570 opened #19 "JAVA : Welcome to Java!"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Welcome to Java!](https://www.hackerrank.com/challenges/welcome-to-java/problem?isFullScreen=true)

[2022-09-29 18:08] Riddhi9570 opened #20 "JAVA : Java Stdin and Stdout I"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Stdin and Stdout I](https://www.hackerrank.com/challenges/java-stdin-and-stdout-1/problem?isFullScreen=true)

[2022-09-29 18:10] Riddhi9570 opened #21 "JAVA : Java If-Else"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java If-Else](https://www.hackerrank.com/challenges/java-if-else/problem?isFullScreen=true)

[2022-09-29 18:13] Riddhi9570 opened #22 "JAVA : Java Stdin and Stdout II"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Stdin and Stdout II](https://www.hackerrank.com/challenges/java-stdin-stdout/problem?isFullScreen=true)

[2022-09-29 18:15] Riddhi9570 opened #23 "JAVA : Java Output Formatting"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Output Formatting](https://www.hackerrank.com/challenges/java-output-formatting/problem?isFullScreen=true)

[2022-09-29 18:16] Riddhi9570 opened #24 "JAVA : Java Loops I"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Loops I](https://www.hackerrank.com/challenges/java-loops-i/problem?isFullScreen=true)

[2022-09-29 18:18] Riddhi9570 opened #25 "JAVA : Java Loops II"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Loops II](https://www.hackerrank.com/challenges/java-loops/problem?isFullScreen=true)

[2022-09-29 18:20] Riddhi9570 opened #26 "JAVA : Java Datatypes"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Datatypes](https://www.hackerrank.com/challenges/java-datatypes/problem?isFullScreen=true)

[2022-09-29 18:23] Riddhi9570 opened #27 "JAVA : Java End-of-file"
Write your solution to this JAVA problem of hackerrank :-
Problem link : [Java End-of-file](https://www.hackerrank.com/challenges/java-end-of-file/problem?isFullScreen=true)

[2022-09-29 18:25] Riddhi9570 opened #28 "JAVA : Java Static Initializer Block"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Static Initializer Block](https://www.hackerrank.com/challenges/java-static-initializer-block/problem?isFullScreen=true)

[2022-09-29 18:27] Riddhi9570 opened #29 "JAVA : Java Int to String"
Write your solution to this JAVA problem of hackerrank:-
Problem link : [Java Int to String](https://www.hackerrank.com/challenges/java-int-to-string/problem?isFullScreen=true)

[2022-09-30 06:44] sumitbishti commented on #17
Please assign this issue to me under hacktoberfest tag.

[2022-09-30 06:45] abhi887449 commented on #9
Please assign this to me

[2022-09-30 06:46] sumitbishti commented on #19
Please assign this issue to me under hacktoberfest tag.

[2022-09-30 06:48] abhi887449 commented on #10
Please assign this task to me

[2022-09-30 06:54] abhi887449 commented on #11
Please assign this task to me

[2022-09-30 06:56] abhi887449 commented on #12
Please assign this task to me

[2022-09-30 06:58] abhi887449 commented on #13
Please assign this task to me

[2022-09-30 07:00] adityjoshi commented on #24
hey can I contribute to this issue

[2022-09-30 07:00] adityjoshi commented on #21
can I contribute to this issue

[2022-09-30 07:10] dhruvbhatia1 commented on #22
Can this issue be assigned to me?

[2022-09-30 09:16] YashGupta018 commented on #29
Please assign me, I'll work on this issue

[2022-09-30 09:28] Riddhi9570 opened #30 "SQL : Placements"
Write your MySQL solution to this problem of hackerrank:-
Problem link : [Placements](https://www.hackerrank.com/challenges/placements/problem?isFullScreen=true)

[2022-09-30 09:30] Riddhi9570 opened #31 "SQL : Symmetric Pairs"
Write your MySQL solution to this problem of hackerrank :-
Problem link : [Symmetric Pairs](https://www.hackerrank.com/challenges/symmetric-pairs/problem?isFullScreen=true)

[2022-09-30 09:32] Riddhi9570 opened #32 "SQL : Print Prime Numbers"
Write your MySQL solution to this problem of hackerrank :-
Problem link : [Print Prime Numbers](https://www.hackerrank.com/challenges/print-prime-numbers/problem?isFullScreen=true)

[2022-09-30 09:35] Riddhi9570 opened #33 "SQL : Interviews"
Write your MySQL solution to this problem of hackerrank :-
Problem link : [Interviews](https://www.hackerrank.com/challenges/interviews/problem?isFullScreen=true)

[2022-09-30 09:37] Riddhi9570 opened #34 "SQL : 15 Days of Learning SQL"
Write your MySQL solution to this problem of hackerrank :-
Problem link : [15 Days of Learning SQL](https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem?isFullScreen=true)

[2022-09-30 09:52] Riddhi9570 opened #35 "Python : Say "Hello, World!" With Python"
Write your solution to this Python problem of hackerrank:-
Problem link : [Say "Hello, World!" With Python](https://www.hackerrank.com/challenges/py-hello-world/problem?isFullScreen=true)

[2022-09-30 09:56] Riddhi9570 opened #36 "Python : Python If-Else"
Write your solution to this Python problem of hackerrank:-
Problem link : [Python If-Else](https://www.hackerrank.com/challenges/py-if-else/problem?isFullScreen=true)

[2022-09-30 09:58] Riddhi9570 opened #37 "Python : Arithmetic Operators"
Write your solution to this Python problem of hackerrank:-
Problem link : [Arithmetic Operators](https://www.hackerrank.com/challenges/python-arithmetic-operators/problem?isFullScreen=true)

[2022-09-30 10:01] Riddhi9570 opened #38 "Python : Python: Division"
Write your solution to this Python problem of hackerrank:-
Problem link : [Python: Division](https://www.hackerrank.com/challenges/python-division/problem?isFullScreen=true)

[2022-09-30 10:02] Riddhi9570 opened #39 "Python : Loops"
Write your solution to this Python problem of hackerrank:-
Problem link : [Loops](https://www.hackerrank.com/challenges/python-loops/problem?isFullScreen=true)

[2022-09-30 10:06] Riddhi9570 opened #40 "Python : Print Function"
Write your solution to this Python problem of hackerrank :-
Problem link : [Print Function](https://www.hackerrank.com/challenges/python-print/problem?isFullScreen=true)

[2022-09-30 10:10] Riddhi9570 opened #41 "Python : Write a function"
Write your solution to this Python problem of hackerrank :-
Problem link : [Write a function](https://www.hackerrank.com/challenges/write-a-function/problem?isFullScreen=true)

[2022-09-30 10:52] raghav-rama commented on #41
How to go about this? Lyk the PR part. Not the solution part.

[2022-09-30 11:01] mrgenius17 commented on #35
Hi! Can you assign me this issue?

[2022-09-30 11:25] kb-s commented on #29
@Riddhi9570 I want to be assigned

[2022-09-30 11:30] kb-s commented on #25
@Riddhi9570 I want to contribute, it would be awesome if you please assign this to me 👍

[2022-09-30 11:37] Janhvi52 commented on #18
Hey i would like to work on it under hackotober fest 2022,can u assign me the same?
@Riddhi9570

[2022-09-30 11:39] Riddhi9570 commented on #9
@abhi887449 Are you a hacktoberfest contributor?

[2022-09-30 11:40] Janhvi52 opened #42 "New responsive and functional website"
I saw you have a great collection of questions along with their solutions, thus i would like to propose a fully functional and responsive website with will give you the better view of your idea of problems along with their solutions!
Kindly assign me this issue under Hackotober fest 2022 @Riddhi9570

[2022-09-30 11:44] Riddhi9570 commented on #10
@abhi887449 I have assigned you the issue #9. Sorry, I cannot assign you multiple issues from the same repository at a time. Once you complete that issue, you can claim other issue if it is open. Thank you. All the best!

[2022-09-30 11:52] Riddhi9570 commented on #18
@Janhvi52 I have assigned you the issue under the hacktoberfest. You can start working on the issue but don't make your PR today since the PRs will be counted towards hacktoberfest from 1st October. Happy coding!

[2022-09-30 11:55] Csrivastava003 commented on #17
I would like to work on this issue under hacktoberfest

[2022-09-30 11:55] Riddhi9570 commented on #21
@adityjoshi Are you a hacktoberfest contributor?

[2022-09-30 11:56] Csrivastava003 commented on #14
I would like to work on this issue under hacktoberfest.

[2022-09-30 11:57] Riddhi9570 commented on #25
@kb-s Are you a hacktoberfest contributor?

[2022-09-30 11:59] Riddhi9570 commented on #35
@mrgenius17 are you a hacktoberfest contributor?

[2022-09-30 11:59] kb-s commented on #25
@Riddhi9570 yes

[2022-09-30 12:02] Csrivastava003 commented on #15
I would like to work on this issue under Hacktoberfest

[2022-09-30 12:04] Riddhi9570 commented on #41
@raghav-rama You can follow [CONTRIBUTING.md](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/CONTRIBUTING.md) and [pull_request_template.md](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/.github/pull_request_template.md).

You need to add your hackerrank solution to this repository and mention your hackerrank submitted solution link to verify your solution.

[2022-09-30 12:10] Riddhi9570 commented on #17
@sumitbishti Sorry, I cannot assign you multiple issues from the same repository at a time. Once you complete that issue, you can claim any other open issue.

[2022-09-30 12:21] raghav-rama commented on #41
Could you assign this to me under Hacktoberfest '22?
I want to work on this.

[2022-09-30 12:22] Prahmodh-R commented on #16
@Riddhi9570 Can you please assign this issue to me as part of Hacktoberfest 2022

[2022-09-30 12:24] sanvisharma003 commented on #24
Heyy.. I can contribute to this issue

[2022-09-30 12:25] Prahmodh-R commented on #38
@Riddhi9570 Could you please assign this issue to me as part of Hacktoberfest 2022

[2022-09-30 12:27] Prahmodh-R commented on #37
@Riddhi9570 Could you please assign me this issue as part of Hacktoberfest 2022

[2022-09-30 12:28] Prahmodh-R commented on #39
@Riddhi9570 Could you please assign me this issue as part of Hacktoberfest 2022

[2022-09-30 12:34] Prahmodh-R commented on #40
@Riddhi9570 Could you please assign me this issue as part of Hacktoberfest 2022 as I'm interested to contribute to this issue

[2022-09-30 13:16] sumitbishti commented on #17
Fair enough

[2022-09-30 14:04] Sowham-3098 commented on #10
Please assign this issue to me under Hacktoberfest Tag. You can assign me any problem for C++language.

[2022-09-30 14:06] Sowham-3098 commented on #12
Please assign this task for me under Hacktoberfest tag.I will solve this problem as soon as possible.

[2022-09-30 14:08] Sowham-3098 commented on #41
Please assign this task to me. And please add Hacktoberfest tag.

[2022-09-30 14:09] Sowham-3098 commented on #13
You can assign this task to me. Please add the Hacktoberfest tag to this solution.

[2022-09-30 14:11] Sowham-3098 commented on #15
Please assign this task to me and add the tag Hacktoberfest.

[2022-09-30 14:49] AmanGit010 commented on #19
@Riddhi9570 please assign this issue to me for Hacktoberfest 2022

[2022-09-30 14:50] AmanGit010 commented on #20
@Riddhi9570 Please assign this issue to me for Hacktoberfest 2022

[2022-09-30 15:40] Atharv-17 commented on #26
kindly assign this to me under hacktoberfest '22

[2022-09-30 15:53] subhojeet-chakraborty commented on #27
@Riddhi9570 assign this to me under hacktoberfest '22

[2022-09-30 16:09] Siddharth158 commented on #23
I want to work on this issue.
please add the hacktoberfest '22 tag

[2022-09-30 16:16] Janhvi52 commented on #18
Sure ma'am! Thanks

[2022-09-30 16:31] Amarendra-ai commented on #13
I would like to contribute towards this problem, please assign this task to me.

[2022-09-30 16:33] Amarendra-ai commented on #14
I would like to work on this problem, please assign this task to me.

[2022-09-30 16:33] Exoutia commented on #38
Can I take this issue

[2022-09-30 16:36] abhi887449 commented on #9
yes

[2022-09-30 17:06] Riddhi9570 commented on #9
@abhi887449 Alright, go ahead!

[2022-09-30 17:27] shoebxsiddiqui commented on #32
hey @Riddhi9570 i want to work on this issue, pls assign me this

[2022-09-30 17:32] shoebxsiddiqui opened #43 "Say "Hello World" in java"
hey @Riddhi9570  i want to make a java folder and contibute in it.

[2022-09-30 17:44] Ashasindhu opened #44 "java String Reverse"
Write your solution to this JAVA problem of hackerrank :
Problem link:[java String Reverse](https://www.hackerrank.com/challenges/java-string-reverse/problem?isFullScreen=true)

[2022-09-30 17:46] Ashasindhu commented on #44
can you please assign me this for the hacktoberfest.

[2022-09-30 17:52] Sowham-3098 commented on #10
Thank You @Riddhi9570

[2022-09-30 17:58] Riddhi9570 commented on #11
@abhi887449 and @Sowham-3098 you both have been assigned another issue, so I cannot assign you this issue at this time. Once that issue gets completed, ping me here if no one else has claimed this isssue, it will be asssigned on first-cum-first-serve-basis.

[2022-09-30 17:59] Rohan-G commented on #11
Can I work on this for hacktoberfest?

[2022-09-30 18:03] Riddhi9570 commented on #13
@Amarendra-ai are you a hacktoberfest contributor?

[2022-09-30 18:05] Amarendra-ai commented on #13
Yes

[2022-09-30 18:09] ayu8 commented on #42
I need a person with a similar kind of work for my repo. Are you interested @Janhvi52 ?

[2022-09-30 18:12] Riddhi9570 commented on #24
Since I can assign only one issue to a contributor at a time, and have assigned an issue to @adityjoshi , I'm assigning this issue to @sanvisharma003.

[2022-09-30 18:13] Riddhi9570 commented on #24
@sanvisharma003 are you a hacktoberfest contributor?

[2022-09-30 18:22] Janhvi52 commented on #42
Yea @ayu8 I'm in, but lemme know the work first
I want to work for hackotober fest first, if any repo for that, it would be great
thanks!

[2022-09-30 18:44] akshatjain1004 commented on #43
Hey I'd like to work on this :)

[2022-09-30 18:45] akshatjain1004 commented on #39
Hey can I contribute to this issue as part of Hacktober fest 2022?

[2022-09-30 18:46] akshatjain1004 commented on #15
Hey @Riddhi9570 since this issue hasn't been allotted to anyone, can I work on it?

[2022-09-30 18:51] Riddhi9570 commented on #15
@akshatjain1004 Since I have alloted another issues to @Csrivastava003 and @Sowham-3098 , and I can assign only one issue to a contributor at a time, I can assign this issue to you.

[2022-09-30 18:52] Riddhi9570 commented on #15
@akshatjain1004 are you a hacktoberfest contributor?

[2022-09-30 18:53] akshatjain1004 commented on #15
Yes I'm contributing for hactoberfest 2022. Thank you so much for the issue :)

[2022-09-30 19:17] ayu8 opened #45 "small error in README.md"
Hey @Riddhi9570 , there's a small error in the README.md of your file.
Please assign this issue to me, I'll fix it

[2022-09-30 19:17] ayu8 commented on #42
Link to my repo: https://github.com/ayu8/DSA-4-All/

[2022-09-30 19:29] Riddhi9570 commented on #45
@ayu8 , what error do you see in README.md?

[2022-09-30 19:47] parth-verma7 commented on #33
Hi @Riddhi9570  I would like to work on this issue, can u please assign it to me?

[2022-09-30 19:54] Riddhi9570 commented on #42
@Janhvi52 Sure! It's a good idea. Before assigning this to you, do you have any sample to show me how your work will look like?

[2022-09-30 19:57] Csrivastava003 commented on #17
This issue has not been labeled under the hacktoberfest?

[2022-09-30 19:58] Riddhi9570 commented on #45
@ayu8 Thanks for pointing it out. But I cannot assign you this issue. You can claim any other open issue or create one new issue for a hackerrank practice problem solution for hacktoberfest. Happy coding!

[2022-09-30 20:06] #45 closed, assigned to nobody

[2022-09-30 20:07] Nirvik07 commented on #30
Full name : NIRVIK GHOSH
GitHub Profile Link : @Nirvik07
Participant ID (If not, then put NA) : NA
Approach for this Project : SQL query to solve the problem
What is your participant role? Hacktoberfest2022
assign me this issue

[2022-09-30 20:07] Riddhi9570 commented on #43
A separate folder has been created for Java. You can work towards the issue assigned to you and give your contribution. Happy coding!

[2022-09-30 20:07] #43 closed

[2022-09-30 20:11] kataranandini commented on #8
please assign also to me under hacktober tag

[2022-09-30 20:13] Riddhi9570 commented on #33
@parth-verma7 Are you a hactoberfest contributor?

[2022-09-30 20:16] Riddhi9570 commented on #8
@kataranandini This issue has already been assigned to someone else. You may claim any other open issue or create your own issue.

[2022-09-30 20:17] akrishna5 opened #47 "Python: Finding The Percentage"
### Issue Number:

This submission will close the issue #47

### Submissions Checklist:

* [YES] Have you followed the guidelines in [CONTRIBUTING.md](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/CONTRIBUTING.md)?
* [YES] Have you checked to ensure there aren't other open [Pull Requests](https://github.com/Riddhi9570/HackerrankPracticeProblems/pulls) for the same hackerrank p

[2022-09-30 20:25] megha-vishwakarma commented on #31
Hello @Riddhi9570  could you Please assign this task to me. And please add Hacktoberfest tag. Thank you !

[2022-09-30 20:25] parth-verma7 commented on #33
Yes @Riddhi9570 I am a hactoberfest contributor.

[2022-09-30 20:33] Riddhi9570 opened #48 "Python : List Comprehensions"
Write your solution to this Python problem of hackerrank :-
Problem link : [List Comprehensions](https://www.hackerrank.com/challenges/list-comprehensions/problem?isFullScreen=true)

[2022-09-30 20:35] Riddhi9570 opened #50 "Python : Find the Runner-Up Score!"
Write your solution to this Python problem of hackerrank :-
Problem link : [Find the Runner-Up Score!](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem?isFullScreen=true)

[2022-09-30 21:28] Riddhi9570 opened #51 "Java : Java Date and Time"
Write your solution to this Java problem of hackerrank :-
Problem link : [Java Date and Time](https://www.hackerrank.com/challenges/java-date-and-time/problem?isFullScreen=true)

[2022-09-30 22:28] Pargat-Dhanjal commented on #51
@Riddhi9570 I am willing to contribute to this solution. As a part of hacktober-fest.

[2022-09-30 22:36] Pargat-Dhanjal commented on #48
I would like to solve this. Can you assign me this?

[2022-10-01 00:02] Janhvi52 commented on #18
Hey this issue have been assigned to me already and I'll be submitting it today
Please go forward and see some other bugs and issues
Thanks
@Akshun-01

[2022-10-01 00:08] Akshun-01 commented on #18
Ok sure... I didn't knew we need to first ask for assignment  of the issue .

[2022-10-01 00:26] Janhvi52 commented on #18
Oh okay not a problem, glad you know it now
Happy Coding!
@Akshun-01

[2022-10-01 00:34] Exoutia commented on #38
Yes I am hacktoberfest contributor 😁😁 this is my first hacktoberfest

[2022-10-01 02:04] Prahmodh-R commented on #37
@Riddhi9570 Can you please assign this issue to me with the hacktoberfest tag

[2022-10-01 02:05] Prahmodh-R commented on #39
@Riddhi9570 Can you please assign this issue to me with the hacktoberfest tag, as I have already completed this problem and have my solution ready

[2022-10-01 02:05] Prahmodh-R commented on #40
@Riddhi9570 Can you please assign this issue to me with the hacktoberfest tag, as I have already completed this problem and have my solution ready?

[2022-10-01 02:05] Prahmodh-R commented on #36
@Riddhi9570 Can you please assign this issue to me with the hacktoberfest tag, as I have already completed this problem and have my solution ready?

[2022-10-01 02:08] aatharvauti commented on #50
Hello, can you please assign me this for the hacktoberfest?

[2022-10-01 04:13] kb-s commented on #25
hey @Riddhi9570 1 file conflicted can you look into it, I guess README.md file

[2022-10-01 04:14] kb-s commented on #25
error: Pulling is not possible because you have unmerged files.
hint: Fix them up in the work tree, and then use 'git add/rm <file>'
hint: as appropriate to mark resolution and make a commit.
fatal: Exiting because of an unresolved conflict.

[2022-10-01 04:27] kb-s commented on #25
hey @Riddhi9570 It's solved, it's my bad sorry

[2022-10-01 04:31] 201B153 commented on #34
assign it to me!!

[2022-10-01 04:34] Rittika1234 commented on #51
I am willing to contribute to this solution

[2022-10-01 04:39] Rittika1234 commented on #20
I am willing to contribute to this solution. As a part of hacktober-fest.

[2022-10-01 04:39] Rittika1234 commented on #22
I am willing to contribute to this solution. As a part of hacktober-fest.

[2022-10-01 04:39] Rittika1234 commented on #19
I am willing to contribute to this solution. As a part of hacktober-fest.

[2022-10-01 04:40] Rittika1234 commented on #21
I am willing to contribute to this solution. As a part of hacktober-fest.

[2022-10-01 04:41] Rohan-G opened #55 "Basic standard data structures"
Hey @Riddhi9570,
would it be a good idea to add basic data structures like stacks and queues for each language, and if so, could I work on one of the C++ ones.

[2022-10-01 04:41] Rittika1234 commented on #24
I am willing to contribute to this solution. As a part of hacktober-fest contributor.

[2022-10-01 04:42] Rittika1234 commented on #29
I am willing to contribute to this solution. As a part of hacktober-fest contributor

[2022-10-01 04:43] Rittika1234 commented on #35
I am willing to contribute to this solution. As a part of hacktober-fest contributor.

[2022-10-01 05:05] dhruvbhatia1 commented on #22
Yes I am a hacktoberfest contributor.

[2022-10-01 05:12] AyushJain001 commented on #40
@Riddhi9570 could you assign this issue  with hacktoberfest 2022 tag.

[2022-10-01 05:13] AyushJain001 commented on #39
Hey, could you please assign this problem to me with hacktoberfest 2022 tag.

[2022-10-01 05:15] AyushJain001 commented on #51
Hey , I want to contribute . Could you please assign me with hacktoberfest tag

[2022-10-01 05:18] mrgenius17 commented on #35
Yes I am a Hacktoberfest contributor.

[2022-10-01 05:19] mrgenius17 commented on #35
Yes, I have registered as a Hacktoberfest contributor.

[2022-10-01 05:21] AyushJain001 opened #57 "Python:Words Score"
I am willing to contribute my code for the problem mentioned . Please assign this issue under hacktoberfest 2022 tag.
problem statement- https://www.hackerrank.com/challenges/words-score

[2022-10-01 05:26] AyushJain001 opened #58 "C++:Attribute Parser"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/attribute-parser/

[2022-10-01 05:44] Riddhi9570 commented on #48
@Pargat-Dhanjal are you a hacktoberfest contributor?

[2022-10-01 05:44] Riddhi9570 commented on #48
@Pargat-Dhanjal are you a hacktoberfest contributor?

[2022-10-01 05:45] Pargat-Dhanjal commented on #48
@Riddhi9570 Yes

[2022-10-01 05:48] Riddhi9570 commented on #38
@Exoutia Nice to know! All the best with your journey!

[2022-10-01 05:55] SurbhiMotwani23 commented on #25
I want to contribute,would be great if you could assign this to me

[2022-10-01 05:57] #38 closed

[2022-10-01 05:58] kb-s commented on #25
@SurbhiMotwani23 I'm already working on it

[2022-10-01 06:06] roshan71 commented on #57
I am writing to contribute to this project.
Assign this project to me!!!

[2022-10-01 06:09] roshan71 commented on #50
I want to contribute to this project.
Assign this project to me!!

[2022-10-01 06:12] akshatjain1004 opened #61 "Vector-Sort"
Write a solution to this hackerrank problem: https://www.hackerrank.com/domains/cpp

[2022-10-01 06:12] akshatjain1004 commented on #61
@Riddhi9570 can I work on this issue?

[2022-10-01 06:17] SurbhiMotwani23 commented on #19
please assign this to me for the hacktober fest

[2022-10-01 06:19] SurbhiMotwani23 commented on #44
Can you please assign me this for the hacktober fest ?

[2022-10-01 06:20] Riddhi9570 commented on #19
@Rittika1234 and @SurbhiMotwani23 This issue has already been assigned to @AmanGit010. Yo may claim any other open and unassigned issue or create a new issue for different problem. All the best!

[2022-10-01 06:23] Riddhi9570 commented on #21
@Rittika1234 This issue has already been assigned to @adityjoshi . Yo may claim any other open and unassigned issue or create a new issue for different problem. All the best!

[2022-10-01 06:26] Riddhi9570 commented on #55
@Rohan-G Do you mean hackerrank problems from those topics or something else? Please elaborate.

[2022-10-01 06:29] aatharvauti commented on #50
Hello @Riddhi9570, it seems that you didn't assign me for the issue

[2022-10-01 06:30] SurbhiMotwani23 commented on #40
Could you please assign this to me for hacktober fest ?

[2022-10-01 06:32] SurbhiMotwani23 commented on #39
please assign this problem to me

[2022-10-01 06:33] SurbhiMotwani23 commented on #50
please assign this to me

[2022-10-01 06:35] ritikakr commented on #50
Please assign me this issue for hacktoberfest2022

[2022-10-01 06:37] Riddhi9570 commented on #22
@Rittika1234 sorry, this issue was already assigned to @dhruvbhatia1. As per the norms, in any open source project, it is a good idea to start working on any issue only after it gets assigned to you.

[2022-10-01 06:38] P-Dhruva-Teja commented on #41
I have pulled a request for this problem.

[2022-10-01 06:39] Arunjay126 commented on #50
please assign this to me

[2022-10-01 06:40] #22 closed

[2022-10-01 06:48] Rittika1234 opened #64 "Java : Java Substring #64"
write your solution to this java problem of hackerrank :-
Problem link: https://www.hackerrank.com/challenges/java-substring/problem

[2022-10-01 06:48] Rittika1234 commented on #64
Please assign me this issue.

[2022-10-01 06:51] Rittika1234 opened #65 "Java: Java Sort #65"
Write your solution to this java problem of hackerrank :-
problem link : https://www.hackerrank.com/challenges/java-sort/problem

[2022-10-01 06:52] Rittika1234 commented on #65
Can you please assign me this issue for hacktoberfest?

[2022-10-01 06:52] Riddhi9570 commented on #57
@AyushJain001 Sorry, I cannot assign multiple issues to the same contributor at a time. Once you complete that issue, you can claim this issue if it no one is assigned for this problem.

[2022-10-01 06:55] saikishore222 commented on #29
I am willing to contribute to the solution

[2022-10-01 06:56] Rittika1234 opened #67 "Java Inheritance I"
write your solution to this java problem of hackerrank:-
Problem link: https://www.hackerrank.com/challenges/java-inheritance-1/problem

[2022-10-01 06:56] Rittika1234 commented on #67
can you please assign me this issue for hacktoberfest?

[2022-10-01 06:57] Riddhi9570 commented on #57
@roshan71 Sorry, this issue was raised by someone else. As per the norms, you can raise your own issue or claim an issue raised by the owner of the project. You may work on this issue if @AyushJain001 don't have any problem.

[2022-10-01 07:01] Rittika1234 opened #69 "Java: Java Inheritance II #67"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/java-inheritance-2/problem

[2022-10-01 07:03] Rittika1234 opened #70 "Java: Java 1D Array"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/java-1d-array-introduction/problem

[2022-10-01 07:05] Rittika1234 opened #71 "Java: Java Abstract Class"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/java-abstract-class/problem

[2022-10-01 07:06] Rittika1234 opened #72 "Java: Java Interface"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/java-interface/problem

[2022-10-01 07:07] Ashasindhu opened #73 "java Subarray"
Write your solution to this JAVA problem of hackerrank:
Problem link:https://www.hackerrank.com/challenges/java-negative-subarray/problem?isFullScreen=true

[2022-10-01 07:07] Riddhi9570 commented on #40
@Prahmodh-R and @AyushJain001, Since you all have been assigned another issue currently, and I cannot assign multiple issues to the same contributor at the same time, you may please continue working on the issue assigned to you.

[2022-10-01 07:07] Rittika1234 opened #74 "Java: Java Method Overriding"
I want to contribute my code for the problem mentioned . Please assign this under hacktoberfest 2022 tag.
Problem statement- https://www.hackerrank.com/challenges/java-method-overriding

[2022-10-01 07:11] Riddhi9570 commented on #39
Since you all have been assigned another issue currently, and I cannot assign multiple issues to the same contributor at the same time, you may please continue working on the issue assigned to you. All the best!

[2022-10-01 07:17] #11 closed

[2022-10-01 07:17] Dhruv-Mahajan1 commented on #12
Hey, @Riddhi9570 since this issue hasn't been allotted to anyone, can I work on it?
Thanks!

[2022-10-01 07:19] PurviSaini opened #76 "C++ : Pointer"
I would like to contribute the solution for the problem: https://www.hackerrank.com/challenges/c-tutorial-pointer/problem?isFullScreen=true
Kindly tag it under hacktoberfest.

[2022-10-01 07:23] Dhruv-Mahajan1 commented on #50
Hey @Riddhi9570 since this issue hasn't been allotted to anyone, can I work on it?

[2022-10-01 07:25] #41 closed

[2022-10-01 07:34] Riddhi9570 commented on #64
@Rittika1234 Have you checked this problem is not related to any other issue? If yes, then you may start working to this issue.

[2022-10-01 07:37] Riddhi9570 commented on #65
@Rittika1234 Sorry, I cannot assign you multiple issues at a time. Please start working on the issue assigned to you. Thanks. All the best!

[2022-10-01 07:42] #15 closed

[2022-10-01 07:45] #25 closed

[2022-10-01 07:45] megha-vishwakarma commented on #34
Hello @Riddhi9570 could you Please assign this task to me. And please add Hacktoberfest tag. Thank you !

[2022-10-01 07:56] akshatjain1004 commented on #39
@Riddhi9570 I'm not working on any issue right now, can I take this up?

[2022-10-01 08:01] Riddhi9570 commented on #73
Hey @Ashasindhu You may claim this issue once you complete the issue already assigned to you. Thanks.

[2022-10-01 08:02] Dhruv-Mahajan1 opened #82 "Rectangle Area"
Write a solution to this Hackerrank problem : [Link](https://www.hackerrank.com/challenges/rectangle-area/problem)
@Riddhi9570 can I work on this issue

[2022-10-01 08:05] Riddhi9570 commented on #12
Hey, @Dhruv-Mahajan1 yes, you may work on it. I didn't assigned the issue to them since they have been working on another issue. Thanks!

[2022-10-01 08:08] Riddhi9570 commented on #76
Hey, @PurviSaini Thanks for raising an issue. But this issue is already raised in #14 . You may please comment there and claim the issue.

[2022-10-01 08:08] #76 closed

[2022-10-01 08:26] PurviSaini commented on #14
can I work on this issue?

[2022-10-01 08:28] Riddhi9570 commented on #39
Hey @akshatjain1004 since you have completed your previous issue, you can claim this issue now. Thanks!

[2022-10-01 08:31] #8 closed

[2022-10-01 08:31] dhirajmishra98 commented on #64
I have done a lot of program in java. I want to contribute

[2022-10-01 08:33] Riddhi9570 commented on #82
@Dhruv-Mahajan1 Hey, Thanks for raising an issue. You may complete your previous issue before claiming this issue. Happy Coding!

[2022-10-01 08:35] Rohan-G commented on #55
@Riddhi9570 yep hackerrank problems like the ones you've added for the basic conditional statements and loops and stuff

[2022-10-01 08:36] panditsamik opened #86 "Java Question"
I want to contribute a program in JAVA on Pascal's Triangle.

[2022-10-01 08:38] vidhanshu commented on #37
@Riddhi9570  I have already done this problem can you please assign this issue to me 🙏with hacktoberfest tag?

[2022-10-01 08:40] PurviSaini opened #87 "C++ : Operator Overloading"
I would like to provide solution for this problem: https://www.hackerrank.com/challenges/operator-overloading/problem?isFullScreen=true
kindly assign it under hacktoberfest tag.

[2022-10-01 08:42] Sowham-3098 commented on #10
@Riddhi9570 Please tell me what I have to do next. Is my process is correct to creating a pull request ? I am a newbie. Please help.

[2022-10-01 08:46] panditsamik opened #88 "Program in Java"
Assign me any question in Java.I want to contribute

[2022-10-01 08:55] #16 closed

[2022-10-01 08:58] Prahmodh-R commented on #36
@Riddhi9570 Can I please work on this now, as I have completed my previous issue

[2022-10-01 09:00] Riddhi9570 commented on #64
@dhirajmishra98 You may raise an issue for a hackerrank problem of java, mentioning the problem link and please ensure that problem is not already raised in any issue or added to the repo. Thanks!

[2022-10-01 09:02] Riddhi9570 commented on #55
@Rohan-G Go ahead, mention the problem link you would like to work on, in the issue , and start working once the issue is assigned to you.

[2022-10-01 09:04] Riddhi9570 commented on #86
@panditsamik Thanks for raising an issue! Please mention the link of the problem you would like to work on and please ensure that it is not already present in the repo and it is not raised in an issue by someone else.

[2022-10-01 09:13] Riddhi9570 commented on #10
@Sowham-3098 Thanks for asking! yes, it's correct.

[2022-10-01 09:13] panditsamik commented on #86
@Riddhi9570  I want to work on Java Stack
Link - https://www.hackerrank.com/challenges/java-stack/problem?isFullScreen=true

[2022-10-01 09:14] Sowham-3098 commented on #10
Now can I update Readme.md file with the problem and the solution link?

[2022-10-01 09:15] PurviSaini commented on #87
Thanks for assigning the issue!!
I am on it.

[2022-10-01 09:15] Rittika1234 commented on #65
I have completed previous issue please assign this issue to me.

[2022-10-01 09:16] #48 closed

[2022-10-01 09:17] dhirajmishra98 opened #94 "check if the given string is palindrome or not ."

[2022-10-01 09:18] dhirajmishra98 commented on #94
Check if the give string is palindrome or not in java.
Problem link : https://www.hackerrank.com/challenges/java-string-reverse/problem

[2022-10-01 09:18] Riddhi9570 commented on #86
@panditsamik Go ahead!

[2022-10-01 09:20] Riddhi9570 commented on #88
@panditsamik I have assigned you an issue you raised before. Please work on that first. Thank you. Happy coding!

[2022-10-01 09:22] #39 closed

[2022-10-01 09:23] Dhruv-Mahajan1 commented on #82
@Riddhi9570  I am done with my previously assigned issue can I start working on the above-mentioned issue?
Thanks!

[2022-10-01 09:28] AmanGit010 commented on #94
@dhirajmishra98 please assign this issue to me for Hacktoberfest 2022.

[2022-10-01 09:29] mohantyrohan3 commented on #47
Hey @akrishna5 Can you please assign the issue . I can work on it . And Please add the hacktoberfest label on the issue

[2022-10-01 09:33] dhirajmishra98 commented on #94
please do

[2022-10-01 09:39] Riddhi9570 commented on #65
@Rittika1234 Please do let me know how many issues you have completed till now from this repo?

[2022-10-01 09:40] Sowham-3098 opened #101 "Vector Sort (STL) in CPP"
Please Create a Folder in CPP named "STL"
And I want to contribute Vector Sort Problem's Solution in that code.
Problem Link : https://www.hackerrank.com/challenges/vector-sort/problem

[2022-10-01 09:40] Sowham-3098 commented on #101
Please assign this to me and tag it The hacktoberfest Level.
Thnak you

[2022-10-01 09:41] #12 closed

[2022-10-01 09:43] Rittika1234 commented on #65
yes i have completed #64 java Substring and #20 Java Stdin and Stdout I

[2022-10-01 09:47] Riddhi9570 commented on #82
@Dhruv-Mahajan1 Go ahead!

[2022-10-01 09:56] Riddhi9570 commented on #94
Sorry, this hackerrank problem has already been raised in the issue #44.

[2022-10-01 09:56] #94 closed

[2022-10-01 09:58] #36 closed

[2022-10-01 10:00] Riddhi9570 commented on #101
@Sowham-3098 You can do both the task together.

[2022-10-01 10:26] Rohan-G opened #108 "C++ : Deque-STL"
@Riddhi9570
Want to work on this hackerrank problem : https://www.hackerrank.com/challenges/deque-stl/problem?isFullScreen=true

[2022-10-01 10:35] akshatjain1004 opened #111 "Python-Lists"
Hackerrank Problem: https://www.hackerrank.com/challenges/python-lists/problem?isFullScreen=true

Related to performing various operations on list data structure in Python

[2022-10-01 10:35] akshatjain1004 commented on #111
@Riddhi9570 since I'm done with my previous issue, can I take this up?

[2022-10-01 10:50] SurbhiMotwani23 commented on #40
Submmited hackrank solution  Link-
https://www.hackerrank.com/challenges/python-print/submissions

[2022-10-01 12:30] sanvisharma003 commented on #24
yes.. i am.. actually its the first time i am taking part ..
thankyou for assigning..

[2022-10-01 12:41] sanvisharma003 commented on #24
is this issue for hacktoberfest?

[2022-10-01 12:59] #47 closed

[2022-10-01 13:09] R0merol opened #117 "C++: Class"
I'd like to solve the Class challenge

[2022-10-01 13:10] #82 closed

[2022-10-01 13:15] #50 closed

[2022-10-01 13:17] Riddhi9570 commented on #108
@Rohan-G Hey, Thanks for raising an issue! How many issues you have completed from this repo?

[2022-10-01 13:22] Rohan-G commented on #108
Only 1 PR till now

[2022-10-01 13:23] #86 closed

[2022-10-01 13:27] Riddhi9570 commented on #111
@akshatjain1004 Go ahead!👍

[2022-10-01 13:50] #29 closed

[2022-10-01 13:54] Riddhi9570 commented on #24
@sanvisharma003 Yes, you may please go ahead with your contribution.

[2022-10-01 13:58] Dhruv-Mahajan1 opened #119 "Maps-stl"
Write a solution to this Hackerrank problem : [Link](https://www.hackerrank.com/challenges/cpp-maps/problem?isFullScreen=true)
@Riddhi9570 Please assign this issue
Thanks!

[2022-10-01 13:59] Riddhi9570 commented on #117
@R0merol Hey, Thanks for contributing.
Note- It is considered a good practice to first wait till the issue is assigned to you, before working on it.

[2022-10-01 14:01] #117 closed

[2022-10-01 14:05] Riddhi9570 commented on #108
@Rohan-G Go ahead!👍

[2022-10-01 14:08] R0merol commented on #117
Ahh, I'm sorry. I got a little too excited hehe. Thanks for merging the PR! Please don't forget to label it :)

[2022-10-01 14:14] #34 closed

[2022-10-01 14:22] Riddhi9570 commented on #119
Hey, Thanks for raising an issue!
Unfortunately, I cannot assign more than two issues for Hacktoberfest contribution to the same contributor. You may look into some other repositories for hacktoberfest. Thanks!

[2022-10-01 14:25] Riddhi9570 commented on #117
No problem! @R0merol Just keep it in mind the next time you contribute to any repo. Happy Coding😃!

[2022-10-01 14:30] #101 closed

[2022-10-01 14:50] #87 closed

[2022-10-01 14:54] #108 closed

[2022-10-01 15:30] AmanGit010 opened #123 "JAVA : Java Stdin and Stdout II"
I would like to add solution for this problem from HackerRank for Java. @Riddhi9570 please assign me this issue, i have no issue assigned to me as of now, one PR got merged 🥳.

Link to problem - https://www.hackerrank.com/challenges/java-stdin-stdout/problem?isFullScreen=true

[2022-10-01 15:30] #51 closed

[2022-10-01 15:33] AmanGit010 commented on #123
I am contributing to Hacktoberfest, please assign the tag to this issue.

[2022-10-01 15:39] Riddhi9570 commented on #123
Hey, @AmanGit010  congratulations that your one PR got merged 🥳. Nice to know that you are again up for the contribution to the repo😃. But the hackerrank problem which you have raised is already present in the repo [here](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/Java/Introduction/StdIn_StdOut.java). Please bring an another problem for contribution. Thanks😃!

[2022-10-01 15:41] AyushJain001 commented on #57
Since I have completed my first issue #58 . I request to assign this to me under hacktoberfest 2022 tag

[2022-10-01 15:46] saikishore222 opened #125 "python-string validators"
Python program to string validators

problem link : https://www.hackerrank.com/challenges/string-validators/problem?isFullScreen=false

[2022-10-01 15:47] saikishore222 commented on #125
Please assign this task to me.

[2022-10-01 16:03] Anjali2201 opened #127 "Java: Java Datatypes"
Problem Link:
https://www.hackerrank.com/challenges/java-datatypes/problem?isFullScreen=true

Problem is already solved by me. Just have to upload it. Could you assign it to me?

[2022-10-01 16:04] AmanGit010 commented on #123
As you can see in the image that there are two different problems for Java Stdin and Stdout. In Stdin and Stdout I, we have to print only 3 integers and in Stdin Stdout II we have to print an integer, double, and string. @Riddhi9570

![image](https://user-images.githubusercontent.com/102356628/193417655-43ac5f18-e58b-4cee-a448-2c3c7e567e39.png)

[2022-10-01 16:59] adityjoshi commented on #21
@Riddhi9570 yes I am a Hacktoberfest contributor

[2022-10-01 17:15] Riddhi9570 commented on #127
@Anjali2201
Hey, Thanks for raising an issue!
Unfortunately, this problem statement has already been raised in another issue #26.
You may take another hackerrank problem, raise an issue and make a PR only when it gets assigned to you.
Thanks! Happy Coding😃!

[2022-10-01 17:25] Dhruv-Mahajan1 commented on #119
No problem 👍

[2022-10-01 17:26] Riddhi9570 commented on #123
@AmanGit010
Java Stdin and Stdout I problem has been raised in the issue #20
Java Stdin and Stdout II problem has been addressed in the PR #59.

[2022-10-01 17:28] AmanGit010 commented on #123
Ohh, i didn't see that. Thanks

[2022-10-01 17:28] #123 closed

[2022-10-01 17:32] ashavijit commented on #33
hi @Riddhi9570 i would like to contribute

[2022-10-01 17:33] Anjali2201 commented on #127
I have added one more practice problem of python: arithmetic operator in the same pr. I guess that question is still not solved. Should i raise another issue?

[2022-10-01 17:38] Riddhi9570 commented on #127
Sorry, that problem is also raised in issue #37. Please make sure that the problem is not already raised in an issue or present in the repo. Once you have checked, you can raise a new issue. Thanks!

[2022-10-01 17:40] Riddhi9570 commented on #127
Also, please delete the commit you made earlier before making a new PR.

[2022-10-01 17:41] #127 closed

[2022-10-01 17:44] krushnadurole commented on #61
hello can i solve this problem statement ?

[2022-10-01 17:56] dmanocha464 opened #132 "Array left rotation in Java"
### Hackerrank problem link

https://www.hackerrank.com/challenges/array-left-rotation/problem

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked that the hackerrank problem you are raising

[2022-10-01 17:56] #64 closed

[2022-10-01 18:12] Riddhi9570 commented on #21
@adityjoshi Please update your forked repo with the original repo and go ahead with the issue.

[2022-10-01 18:29] #119 closed

[2022-10-01 18:32] adityjoshi commented on #21
hey @Riddhi9570 please review the code

[2022-10-01 18:32] #20 closed

[2022-10-01 18:39] minhaj-313 commented on #21
Hi, I  want to contribute in your Project, Can you please assign me for Hacktoberfest PR

[2022-10-01 18:45] Riddhi9570 commented on #33
@ashavijit
Hey, this issue is already assigned to @parth-verma7 . You may raise a new issue with another problem or claim any other open and unassigned issue.

[2022-10-01 18:49] Riddhi9570 commented on #61
@akshatjain1004 Hey, How many issues did you completed from this repo?

[2022-10-01 18:51] deepanshu-rawat6 opened #136 "Sets-STL in Cpp"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/cpp-sets/problem

### Issue Checklist

* [] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked that the hac

[2022-10-01 18:52] deepanshu-rawat6 opened #137 "Mutli Level Inheritance in Cpp"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/multi-level-inheritance-cpp/problem

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you

[2022-10-01 18:53] ashavijit opened #138 "The blunder SQL problem add"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/the-blunder/problem?utm_campaign=challenge-recommendation&utm_medium=email&utm_source=24-hour-campaign

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your fo

[2022-10-01 19:01] Riddhi9570 commented on #21
Hey @minhaj-313 this issue is assigned to @adityjoshi . You can raise or claim another issue. Thanks!

[2022-10-01 19:08] ag-yash opened #139 "C++ : Strings"
Given below is the Hackerrank problem link. Please assign me this question. I am a Hacktoberfest contributor :)

[Strings problem.](https://www.hackerrank.com/challenges/c-tutorial-strings/problem?isFullScreen=true)
### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your

[2022-10-01 19:09] Riddhi9570 commented on #137
@deepanshu-rawat6
Hey, Thanks for raising an issue!
Unfortunately, more than one issues cannot be assigned at a time.
Please complete the previous issue before claiming this issue.
Happy Coding😃!

[2022-10-01 19:12] Riddhi9570 commented on #138
@ashavijit
Hey, Thanks for raising an issue!
Unfortunately, the hackerrank problem which you have raised is already present in the repo here. Please bring an another problem for contribution. Thanks😃!

[2022-10-01 19:12] #138 closed

[2022-10-01 19:49] adityjoshi commented on #21
hey @Riddhi9570 made the changes please check

[2022-10-01 19:53] #55 closed

[2022-10-01 20:18] #136 closed

[2022-10-01 20:23] #21 closed

[2022-10-01 20:27] deepanshu-rawat6 commented on #137
Hi, my previous issue has been completed so can you please assign this issue to me?

[2022-10-01 20:28] #139 closed

[2022-10-01 20:38] Riddhi9570 commented on #42
@Janhvi52 If you don't have sample, just tell me, no issue.

[2022-10-01 20:49] #137 closed

[2022-10-01 20:50] manish831 opened #143 "Created Vector Erase using STL"
### Hackerrank problem link

Provide your hackerrank problem link here.

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ ] Your forked repo is up-to-date with the the origin remote.
* [ ] Have you checked that the hackerrank problem you are raising is not already present

[2022-10-01 20:51] akshatjain1004 commented on #61
I’ve completed 2 issues so far…

[2022-10-01 20:57] AditUB commented on #70
Hey can I contribute to this?

[2022-10-01 21:09] Riddhi9570 commented on #61
@akshatjain1004
Nice to know that you contributed to the repo twice😃🥳.
Unfortunately, I cannot assign you more than two issues for this repo.
You may look into some other repos for hackrtoberfest contribution.
Thanks😃!

[2022-10-01 21:11] Riddhi9570 commented on #61
@krushnadurole Go ahead!👍

[2022-10-01 21:12] Riddhi9570 commented on #70
@AditUB Go ahead!👍

[2022-10-01 21:25] #10 closed

[2022-10-01 21:39] Janhvi52 commented on #42
Pardon me for taking this long to get back to you. As of now I'm not having any sample as such which exactly depicts my ideology @Riddhi9570

[2022-10-01 21:43] Janhvi52 commented on #42
@Riddhi9570
Anyway it would be great if you make a website for the same and then we will raise issues to improve the website from our end, thanks!

[2022-10-01 21:55] Csrivastava003 commented on #17
New Pr with resolved conflicts has been made

[2022-10-01 22:23] ashavijit opened #146 "New Companies SQL problem add"
### Hackerrank problem linn

https://www.hackerrank.com/challenges/the-company/problem?isFullScreen=true
Provide your hackerrank problem link here.

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [ ] Have yo

[2022-10-01 22:39] Riddhi9570 commented on #42
No worries!

[2022-10-01 22:41] Riddhi9570 commented on #42
Sure, go ahaed! I'm giving the responsibility for the website to you!

[2022-10-01 22:45] #70 closed

[2022-10-01 22:57] Riddhi9570 commented on #146
@ashavijit Hey, Thanks for raising an issue!
But the hackerrank problem stated by you is already present in the repo.
Please claim or raise another issue.

[2022-10-01 22:57] #146 closed

[2022-10-02 04:47] yashkc2025 opened #148 "Python : Runner-Up Score"
### Hackerrank problem link

https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem

### Issue Checklist

- [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
- [X] Your forked repo is up-to-date with the the origin remote.
- [X] Have you checked that the hackerrank proble

[2022-10-02 04:57] ag-yash opened #149 "C++ : CPP Exception Handling"
Given below is the problem link. Please assign me this problem. I am a Hacktoberfest contributor :)

https://www.hackerrank.com/challenges/cpp-exception-handling/problem?isFullScreen=false

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date

[2022-10-02 05:10] KshshVrma opened #150 "C++: lower_bound-stl"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/cpp-lower-bound/problem?isFullScreen=true
### Issue Checklist

* [ X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ X] Your forked repo is up-to-date with the the origin remote.
* [ X] H

[2022-10-02 05:32] sahilsarawagi commented on #67
please assign this to me for hacktoberfest.

[2022-10-02 05:45] PurviSaini opened #152 "Python: No idea!"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/no-idea/problem?isFullScreen=true
### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you che

[2022-10-02 05:51] adityjoshi commented on #72
hey @Riddhi9570 can I contribute to this issue

[2022-10-02 06:33] AmanGit010 opened #153 "JAVA: Java Currency Formatter"
### Hackerrank problem link

https://www.hackerrank.com/challenges/java-currency-formatter/problem?isFullScreen=true

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked that the hackerrank p

[2022-10-02 06:57] adityjoshi commented on #65
hey @Riddhi9570 can I contribute to this issue

[2022-10-02 07:03] adityjoshi commented on #21
Hey @Riddhi9570 have you added this to the main branch unable to see it on java folder

[2022-10-02 07:04] adityjoshi commented on #27
hey @Riddhi9570 can I contribute to this problem

[2022-10-02 08:17] Riddhi9570 commented on #148
@yashkc2025
Hey, Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 08:21] Riddhi9570 commented on #149
Hey @ag-yash , Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 08:24] Riddhi9570 commented on #150
@KshshVrma
Hey, Thanks for raising an issue!
Nice to know that you are eager for the contribution😃!
Please note that It is considered a good practice to first wait till the issue is assigned to you, before working on it.

[2022-10-02 08:27] #150 closed

[2022-10-02 08:32] Riddhi9570 commented on #67
@sahilsarawagi
Hey, Thanks for raising an issue!
Nice to know that you are eager for the contribution😃!
Please note that it is considered a good practice to first wait till the issue is assigned to you, before working on it.

[2022-10-02 08:34] #67 closed

[2022-10-02 08:37] Riddhi9570 commented on #152
@PurviSaini
It's great that you contributed to the repo twice😃🥳.
Unfortunately, I cannot assign you more than two issues for this repo.
You may look into some other repos for hackrtoberfest contribution.
Thanks😃!All the best!

[2022-10-02 08:41] Riddhi9570 commented on #72
Hey, @adityjoshi I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 08:42] shivanshut105 opened #158 "Balanced Brackets C++"
### Hackerrank problem link

Provide your [hackerrank](https://www.hackerrank.com/challenges/balanced-brackets/problem) problem link here.

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked

[2022-10-02 08:43] #17 closed

[2022-10-02 08:46] Riddhi9570 commented on #153
Hey @AmanGit010 , Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 08:47] R0merol opened #159 "C++: StringStream"
### Hackerrank problem link

Provide your hackerrank problem link here.

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked that the hackerrank problem you are raising is not already present

[2022-10-02 08:48] R0merol commented on #159
Oops, looks like somebody made a PR on this one just 5 minutes ago

[2022-10-02 08:48] #159 closed

[2022-10-02 08:49] Riddhi9570 commented on #65
@adityjoshi
Nice to know that you are eager for the contribution😃!
Unfortunately, more than one issues cannot be assigned at a time.
Please complete the previous issue.
Happy Coding😃!

[2022-10-02 08:51] R0merol opened #160 "C++: Structs"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/c-tutorial-struct/problem

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked th

[2022-10-02 08:52] Riddhi9570 commented on #21
Hey @adityjoshi , thanks for asking. It is availaible [here](https://github.com/Riddhi9570/HackerrankPracticeProblems/blob/main/Java/01.%20Introduction/Java%20If-Else.java)

[2022-10-02 08:52] R0merol commented on #160
I'd like to be asigned this problem please!

[2022-10-02 08:53] ShivayeModi commented on #152
@Riddhi9570 Can you assign this issue to me. I am eager to contribute to this Hackerrank problem

[2022-10-02 08:53] Riddhi9570 commented on #27
@subhojeet-chakraborty any updates?

[2022-10-02 08:59] sahilsarawagi commented on #69
assign this to me.

[2022-10-02 09:00] PurviSaini commented on #152
No problem, Thankyou so much for the considering the previous contribution!!

[2022-10-02 09:10] Riddhi9570 commented on #158
@shivanshut105
Hey, Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:12] Riddhi9570 commented on #160
@R0merol
Hey, Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:15] Riddhi9570 commented on #69
@sahilsarawagi
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:17] Riddhi9570 commented on #152
@ShivayeModi
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:24] #160 closed

[2022-10-02 09:27] scientific-yash commented on #88
Please assign this issue to me . I want to work on it. I can add program of fibonacci in java. Thank you.

[2022-10-02 09:29] sahilsarawagi commented on #71
/assign

[2022-10-02 09:37] gaurangk19 opened #165 "C++: MAPS-STL"
### Hackerrank problem link

https://www.hackerrank.com/challenges/cpp-maps/problem?isFullScreen=true

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked that the hackerrank problem you are

[2022-10-02 09:38] gaurangk19 commented on #165
Hey @Riddhi9570 Please assign me this issue under hacktober fest:-)

[2022-10-02 09:42] Riddhi9570 commented on #88
@scientific-yash Nice to know that you are eager for the contribution😃!
You may please raise a new issue for a new hackerrank problem in Java. Thanks!

[2022-10-02 09:45] Riddhi9570 commented on #165
Hey, @gaurangk19 Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:48] #69 closed

[2022-10-02 09:51] Riddhi9570 commented on #71
Hey @sahilsarawagi
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 09:56] #148 closed

[2022-10-02 10:01] #149 closed

[2022-10-02 10:03] #71 closed

[2022-10-02 10:05] sambhavgupta0705 opened #167 "Searching Algorithm C++"
### Hackerrank problem link
 https://www.hackerrank.com/challenges/missing-numbers/problem?isFullScreen=true
Provide your hackerrank problem link here.

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [✔ ] Your forked repo is up-to-date with the the origin remote.
* [✔ ] H

[2022-10-02 10:05] sahilsarawagi commented on #74
/assign

[2022-10-02 10:05] ag-yash opened #168 "C++ : Overloading Ostream Operator"
Please assign me this problem.
### Hackerrank problem link

https://www.hackerrank.com/challenges/overloading-ostream-operator/problem?isFullScreen=true

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Ha

[2022-10-02 10:05] sambhavgupta0705 commented on #167
Hey ,Please assign this issue to me!

[2022-10-02 10:37] ShivayeModi commented on #152
@Riddhi9570
I have solved the given problem, you can review my pull request now.
Thanks 😃

[2022-10-02 10:57] Riddhi9570 commented on #168
Hey @ag-yash , Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 11:00] Riddhi9570 commented on #167
Hey, @sambhavgupta0705  Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Since you have raised an issue for a new domain, you need to create a new folder.
Happy Coding😃!

[2022-10-02 11:21] #165 closed

[2022-10-02 11:24] adityjoshi commented on #65
hey @Riddhi9570 kindly check the pull request of previous issue and kindly assign this issue to me

[2022-10-02 11:26] Csrivastava003 commented on #65
I want to work on this issue under hacktoberfest. @Riddhi9570

[2022-10-02 11:28] #158 closed

[2022-10-02 11:35] RishitaGangwal commented on #24
Hey, Can I contribute to this issue?

[2022-10-02 11:37] #152 closed

[2022-10-02 11:37] RishitaGangwal commented on #72
Hey, I would like to contribute to this issue.

[2022-10-02 11:45] Riddhi9570 commented on #24
@RishitaGangwal This issue is assigned to @sanvisharma003 . You can raise a new issue for another problem. Thanks!

[2022-10-02 11:46] Riddhi9570 commented on #72
Hey, @RishitaGangwal, this issue is assigned to @adityjoshi . You can raise a new issue for another problem. Thanks!

[2022-10-02 11:49] #168 closed

[2022-10-02 11:50] jainadvi1229 opened #175 "C++: Classes and Objects"
Hey, please assign me this problem

### Hackerrank problem link

https://www.hackerrank.com/challenges/classes-objects/problem?isFullScreen=true

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you c

[2022-10-02 12:01] #72 closed

[2022-10-02 12:14] Csrivastava003 opened #176 "C++: Searching"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/sherlock-and-array/problem?isFullScreen=true
### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] H

[2022-10-02 12:15] Csrivastava003 commented on #176
Please assign this issue to me. @Riddhi9570

[2022-10-02 12:20] gaurangk19 opened #177 "C++: StringStream"
### Hackerrank problem link

https://www.hackerrank.com/challenges/c-tutorial-stringstream/problem

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked that the hackerrank problem you are rai

[2022-10-02 12:21] gaurangk19 commented on #177
Hey @Riddhi9570 I would love to work on this problem:-)

[2022-10-02 12:26] RishitaGangwal commented on #26
Please assign this issue to me under hacktoberfest' 22

[2022-10-02 12:30] #177 closed

[2022-10-02 12:48] ag-yash opened #179 "C++ : Messages Order"
Please assign me this problem.
### Hackerrank problem link

https://www.hackerrank.com/challenges/messages-order/problem?isFullScreen=true

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked

[2022-10-02 12:49] gaurangk19 opened #180 "C++: Accessing Inherited Functions"
### Hackerrank problem link

https://www.hackerrank.com/challenges/accessing-inherited-functions/problem

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked that the hackerrank problem you a

[2022-10-02 12:50] gaurangk19 commented on #180
Hey @Riddhi9570 I would love to work on this :-)

[2022-10-02 12:56] akashadr commented on #40
@Riddhi9570 could you plz assign me this issue with hacktoberfest 2022 tag.

[2022-10-02 13:18] adityjoshi commented on #65
hey @Riddhi9570 kindly assign this issue to me please

[2022-10-02 13:43] AyushJain001 opened #182 "SQL :Select By ID"
### Hackerrank problem link
https://www.hackerrank.com/challenges/select-by-id/
Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/select-by-id/
### Issue Checklist

* [x ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ x] Your forked repo is up-to-date with the the

[2022-10-02 14:23] Riddhi9570 commented on #176
Hey, @Csrivastava003  Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 14:28] Riddhi9570 commented on #26
Hey @RishitaGangwal
Nice to know that you are eager for the contribution😃!
But this issue is assigned to @Atharv-17 .
You may please raise or claim another issue. Thanks!

[2022-10-02 14:31] #125 closed

[2022-10-02 14:36] Riddhi9570 commented on #179
@ag-yash
It's great that you contributed to the repo before😃🥳.
Unfortunately, I cannot assign you so many issues for this repo for hacktoberfest.
You may look into some other repos for hackrtoberfest contribution.
Thanks😃!All the best!

[2022-10-02 14:40] ag-yash commented on #179
Cool. No problem. It was nice contributing to your repo. Looking forward to contribute more after the fest. :)

[2022-10-02 14:42] Riddhi9570 commented on #180
Hey, @gaurangk19  Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 14:43] Riddhi9570 commented on #40
@akashadr Nice to know that you are eager for the contribution😃!
But this issue is assigned to @SurbhiMotwani23.
You may please raise or claim another issue. Thanks!

[2022-10-02 14:51] Riddhi9570 commented on #65
@adityjoshi
it's great that you contributed to the repo twice😃🥳.
Unfortunately, I cannot assign you more than two issues for this repo for hacktoberfest.
You may look into some other repos for hackrtoberfest contribution.
Thanks😃!All the best!

[2022-10-02 15:03] #57 closed

[2022-10-02 15:06] Riddhi9570 commented on #182
@AyushJain001
It's great that you contributed to the repo twice😃🥳.
Unfortunately, I cannot assign you more than two issues for this repo for hacktoberfest.
You may look into some other repos for hackrtoberfest contribution.
Thanks😃!All the best!

[2022-10-02 15:08] AyushJain001 commented on #182
Thanks  for the opportunity.🙌

[2022-10-02 15:13] #9 closed

[2022-10-02 15:16] Riddhi9570 commented on #179
Thanks for your valuable contributions! Your contributions are most welcome after the fest :)
If you don't have any problem, this issue can be assigned to someone else looking for hacktoberfest contribution.

[2022-10-02 15:20] #153 closed

[2022-10-02 15:34] gaurangk19 commented on #179
Hey @Riddhi9570 I would want to work on this :-)

[2022-10-02 15:38] ag-yash commented on #179
Sure👍

[2022-10-02 15:50] LeandroLFE opened #187 "Python : sWAP Case"
I'm participating of the Hacktoberst for the first time and I would like to be assigned to do this exercise

### Hackerrank problem link

https://www.hackerrank.com/challenges/swap-case/problem

### Issue Checklist
* [ x ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ x ] Your forked repo is up-

[2022-10-02 15:53] #143 closed

[2022-10-02 15:56] #182 closed

[2022-10-02 16:02] #13 closed

[2022-10-02 16:15] #180 closed

[2022-10-02 16:25] Riddhi9570 commented on #179
@gaurangk19 It's great that you contributed to the repo twice😃🥳.
But the same rule applies for you and I cannot assign you more issues for hacktoberfest.

[2022-10-02 16:28] Riddhi9570 commented on #187
Hey @LeandroLFE , Thanks for raising an issue!
I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 16:46] adityjoshi commented on #65
hey @Riddhi9570 I know you have some rules but please allow me to contribute to only 2 more issues. After a lot of hard work I am able to find a repo in which I can contribute . I will feel obliged if you will allow me .

[2022-10-02 16:55] Riddhi9570 commented on #74
@sahilsarawagi Hey, Thanks for taking the issue😃!
Please note that it is considered a good practice to first wait till the issue is assigned to you, before working on it.

[2022-10-02 16:57] #74 closed

[2022-10-02 16:59] Csrivastava003 commented on #176
The pull request has been made regarding the issue.

[2022-10-02 17:01] #187 closed

[2022-10-02 17:03] #176 closed

[2022-10-02 17:08] Prajwalgupta opened #190 "C++ Class Template"
### Hackerrank problem link
Provide your hackerrank problem link here.

https://www.hackerrank.com/challenges/cpp-class-template-specialization/problem?isFullScreen=true
### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ ☑] Your forked repo is up-to-date with the the origin

[2022-10-02 17:08] Prajwalgupta commented on #190
Please assign it to me I am hactoberfest contributer

[2022-10-02 17:16] Csrivastava003 commented on #176
@Riddhi9570  Thanks for allowing the contribution for Hacktoberfest.
Would love to contribute in the repo after Hacktoberfest too.

[2022-10-02 17:20] Riddhi9570 commented on #176
@Csrivastava003 Thanks for your valuable contribution! Would love to see you after hacktoberfest! Happy Coding😃!

[2022-10-02 17:22] ManashAnand opened #191 "Sets-STL"
### Hackerrank problem link

https://www.hackerrank.com/challenges/c-tutorial-pointer/problem?isFullScreen=true

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ ✓] Your forked repo is up-to-date with the the origin remote.
* [ ✓] Have you checked that the hackerrank prob

[2022-10-02 17:22] ManashAnand commented on #191
Plz assign this issue to me !!!

[2022-10-02 17:22] #191 closed

[2022-10-02 17:26] Riddhi9570 commented on #65
@adityjoshi In that case, I may help you out. Please connect with me in discord. I'm available as RB9570#5791

[2022-10-02 17:26] dmanocha464 commented on #132
@Riddhi9570 where should I add solution to this problem? it's related to array and I will be using Java language.

[2022-10-02 17:33] ManashAnand opened #192 "Vector-Sort"
### Hackerrank problem link

https://www.hackerrank.com/challenges/vector-sort/problem?isFullScreen=true

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [✓ ] Your forked repo is up-to-date with the the origin remote.
* [ ✓] Have you checked that the hackerrank problem you

[2022-10-02 17:48] yogesh-9999 commented on #65
!assign

[2022-10-02 17:50] Riddhi9570 commented on #132
First make sure that your forked repo is up-to-date with the original repo. You will find a folder for Data Structures inside the root directory. Create a folder named "Array" inside the "Data Structures" folder, and add your file "Left Rotation.java". Thanks!

[2022-10-02 17:52] Csrivastava003 commented on #65
@Riddhi9570 I've already worked on two issues under hacktoberfest in this repository, assign it to someone else interested.

[2022-10-02 17:54] adityjoshi commented on #65
@Riddhi9570 sent you friend request noobstar#8797 my discord id

[2022-10-02 17:58] Riddhi9570 commented on #192
Hey @ManashAnand This hackerrank problem is already added to the repo. You may please take another problem.

[2022-10-02 18:00] Riddhi9570 commented on #65
Thanks for letting me know! All the best for hacktoberfest 👍 !

[2022-10-02 18:02] Riddhi9570 commented on #65
@yogesh-9999 I've assigned you the issue and you may please go ahead!
Happy Coding😃!

[2022-10-02 18:26] gaurangk19 commented on #179
@Riddhi9570 No issues, thanks for giving me the opportunity :-)

[2022-10-02 18:28] AditUB opened #193 "Java: Java Anagrams"
### HackerRank problem link

https://www.hackerrank.com/challenges/java-anagrams/problem?isFullScreen=true

### Issue Checklist

* [x] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked that the hackerrank problem you

[2022-10-02 18:29] AditUB commented on #193
Can I contribute to this?

[2022-10-02 18:32] sasidharswarangi opened #194 "Algorithims topic - Dynamic programming subtopic"
### Hackerrank problem link
[https://www.hackerrank.com/domains/algorithms?filters%5Bsubdomains%5D%5B%5D=dynamic-programming](https://www.hackerrank.com/domains/algorithms?filters%5Bsubdomains%5D%5B%5D=dynamic-programming
)
### Issue Checklist

* [ no ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.

[2022-10-02 18:55] Riddhi9570 commented on #193
@AditUB Go for it 👍

[2022-10-02 18:58] Riddhi9570 commented on #194
Hey @sasidharswarangi Please mention the exact hackerrank problem link you want to contribute.

[2022-10-02 18:59] HarshitaSadadekar opened #195 "For Loop"
### Hackerrank problem link

Provide your hackerrank problem link here.

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ ] Your forked repo is up-to-date with the the origin remote.
* [x] Have you checked that the hackerrank problem you are raising is not already present

[2022-10-02 18:59] HarshitaSadadekar commented on #195
please assign me this issue

[2022-10-02 19:04] Riddhi9570 commented on #195
Please provide the hakerrank problem link you want to contribute. @HarshitaSadadekar

[2022-10-02 19:17] Riddhi9570 opened #196 "The Power Sum"
Write your solution to this problem of hackerrank :-
Problem : [The Power Sum](https://www.hackerrank.com/challenges/the-power-sum/problem?isFullScreen=true)
Folder : Problem Solving/Algorithms/Recursion/The Power Sum
Language : C++/Java/Python
Difficulty : Medium

[2022-10-02 19:22] Riddhi9570 opened #197 "Crossword Puzzle"
Write your solution to this problem of hackerrank :-
Problem : [Crossword Puzzle](https://www.hackerrank.com/challenges/crossword-puzzle/problem?isFullScreen=true)
Folder : Problem Solving/Algorithms/Recursion/Crossword Puzzle
Language : C++/Java/Python
Difficulty : Medium

[2022-10-02 19:24] Riddhi9570 opened #198 "Recursive Digit Sum"
Write your solution to this problem of hackerrank :-
Problem : [Recursive Digit Sum](https://www.hackerrank.com/challenges/recursive-digit-sum/problem?isFullScreen=true)
Folder : Problem Solving/Algorithms/Recursion/The Power Sum
Language : C++/Java/Python
Difficulty : Medium

[2022-10-02 21:23] abhi887449 commented on #198
Hey @Riddhi9570 , assign this task to me

[2022-10-02 21:43] achiverram28 commented on #196
I will do this . Please assign

[2022-10-02 22:38] abhi887449 commented on #198
Is i have to write code in 3 different files for c++, java and python or 1 file of any one language

[2022-10-02 23:14] Akshun-01 opened #202 "Maps-STL | c++"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/cpp-maps/problem?isFullScreen=true
(first time contributor to this repo)

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with t

[2022-10-03 01:02] Uday-kiran9147 commented on #24
Can I contribute to your issues?

[2022-10-03 03:16] #193 closed

[2022-10-03 03:19] #132 closed

[2022-10-03 03:23] Riddhi9570 commented on #198
One file of any language is required. But it would be appreciated if you could add all the three files.

[2022-10-03 03:25] Riddhi9570 commented on #202
@Akshun-01 This hackerrank problem is already present in the repo. You may please raise another issue with new hackerrank problem. Thanks!

[2022-10-03 03:25] #202 closed

[2022-10-03 04:48] RishitaGangwal commented on #26
Hey, please assign me another issue for hacktoberfest.

On Sun, 2 Oct 2022, 7:58 pm Riddhi Bhagat, ***@***.***> wrote:

[2022-10-03 05:08] HarshitaSadadekar commented on #195
https://www.hackerrank.com/challenges/c-tutorial-for-loop/problem

[2022-10-03 05:31] Riddhi9570 commented on #24
Hey @Uday-kiran9147 Thanks for asking. You may please raise a new issue or claim an issue which is not assigned to anyone.

[2022-10-03 07:11] Samiatrix commented on #197
@Riddhi9570 Can I contribute in this issue?

[2022-10-03 07:59] sanvisharma003 commented on #24
https://github.com/sanvisharma003/HackerrankPracticeProblems/blob/main/hackerrank%20JAVA%20loop%201

 i created the code and tried to make a PR but i think due to some issue you haven't recieved it.. please do check once.

[2022-10-03 08:20] RishitaGangwal commented on #24
Sure.

On Mon, 3 Oct 2022, 1:30 pm Sanvi Sharma, ***@***.***> wrote:

[2022-10-03 08:31] nidhi543 opened #204 "C++ - Box It!"
Please assign me this problem
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/box-it/problem?isFullScreen=true

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [ ] Your forked repo is up-to-date with the the ori

[2022-10-03 08:33] nidhi543 commented on #204
Please assign this issue to me?

[2022-10-03 08:34] RishitaGangwal commented on #198
Hey, @Riddhi9570 I would love to contribute. Please assign this issue to me.

Thanks!

[2022-10-03 08:35] RishitaGangwal commented on #197
Hey @Riddhi9570 Would love to contribute. Please assign me with this issue.

Thanks!

[2022-10-03 08:36] RishitaGangwal commented on #196
Hey @Riddhi9570 Please assign me with this issue.

Thanks!

[2022-10-03 08:42] RishitaGangwal commented on #88
Hey @Riddhi9570
https://www.hackerrank.com/challenges/java-if-else/problem?isFullScreen=true

Assign me with issue under hacktoberfest.

Thanks!

[2022-10-03 08:47] abhi887449 commented on #198
Ok @Riddhi9570 , I would like to contribute in all three languages. Please assign this to me

[2022-10-03 08:57] Riddhi9570 commented on #198
Hey, @RishitaGangwal ,the issues are assigned on first-cum first-serve basis,  thanks.

[2022-10-03 08:59] Riddhi9570 commented on #197
@Samiatrix And @RishitaGangwal Which Programming language do you want to use with this problem?

[2022-10-03 09:03] #26 closed

[2022-10-03 09:03] RishitaGangwal commented on #197
Hey @Riddhi9570 I would like to use Java Programming Language.

[2022-10-03 09:13] Riddhi9570 commented on #195
@RishitaGangwal And @HarshitaSadadekar These problem solutions are already present in the repo, you may please raise a new issue for another problem. Thanks!

[2022-10-03 09:13] #195 closed

[2022-10-03 09:14] achiverram28 commented on #196
I have finished , please check it

[2022-10-03 09:33] RishitaGangwal commented on #197
Hey @Riddhi9570 I have submitted the code. Please check it once.

[2022-10-03 09:39] AmanGit010 opened #206 "This repo is now EXCLUDED from Hacktoberfest"
@Riddhi9570 my 2 PRs are not accepted, they were in review period and got excluded now, we can stop people from contributing to this repo. :(

![image](https://user-images.githubusercontent.com/102356628/193546847-fb11ae0d-4e9b-4906-9ee6-78b037920a5d.png)

[2022-10-03 10:43] sasidharswarangi commented on #206
same problem 😢

[2022-10-03 11:54] deepanshu-rawat6 opened #209 "Maximizing XOR(Bit Manipulation)"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/maximizing-xor/problem

### Issue Checklist

* [X] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [X] Your forked repo is up-to-date with the the origin remote.
* [X] Have you checked that

[2022-10-03 14:59] RCNOverwatcher opened #211 "Fix hyperlinks in the readme"
Hyperlinks in the readme link to incorrect sections

### Issue Checklist

* [ ] If you have previously contributed to this repo, you declare that you have not made a pull request for more than one issue in this repo till now.
* [x] Your forked repo is up-to-date with the the origin remote.
* [ ] Have you checked that the hackerrank problem you are raising is not already present in the repo?
* [ ]

[2022-10-03 15:05] RCNOverwatcher commented on #211
Hyperlinks for Java: Introduction/Strings and Python:Introduction/Strings lead to the C++ sections

[2022-10-03 15:06] RCNOverwatcher commented on #211
Please can i be assigned this issue?

[2022-10-03 15:41] #194 closed

[2022-10-03 15:44] Riddhi9570 commented on #197
Hey, @RishitaGangwal , Nice to know that you are eager for the contribution😃!
Please note that it is considered a good practice to first wait till the issue is assigned to you, before working on it.

[2022-10-03 15:45] RishitaGangwal commented on #197
Sorry for this mistake, it will not be happen again!

On Mon, 3 Oct 2022, 9:14 pm Riddhi Bhagat, ***@***.***> wrote:

[2022-10-03 15:45] Riddhi9570 commented on #197
@RishitaGangwal Please create a PR for your changes and mention the issue for review. Thanks!

[2022-10-03 15:50] Faizan96322 commented on #35
can I contribute to this repo!

[2022-10-03 15:50] Riddhi9570 commented on #197
@Samiatrix You may give your solution in another language for this problem and add it in the same folder.
Are you comfortable with C++ or Python?

[2022-10-03 16:00] RishitaGangwal opened #212 "Crossword Puzzle"

[2022-10-03 16:06] Faizan96322 commented on #111
hey, I would like to contribute to #111 issue
I would like to add how to perform various operations on list under hacktoberfest-22 tag

[2022-10-03 16:17] RishitaGangwal commented on #197
@Riddhi9570 Can you please share the github repo link so that I can open a pull request?

[2022-10-03 16:24] #212 closed

[2022-10-03 16:24] Riddhi9570 commented on #209
Hey, thanks for raising an issue.
I'am regretting to inform you that this repository has now been excluded from hacktoberfest 2022.
You may take this issue as open source contribution. Thanks!

[2022-10-03 16:41] #204 closed

[2022-10-03 16:46] Faizan96322 commented on #18
hey, can u assign me this issue, I would like to contribute my code to this repo!

[2022-10-03 16:53] Riddhi9570 commented on #211
Hey, thanks for raising this issue.
Your contribution is highly appreciated but informing that this won't be considered for Hacktoberfest 2022.

[2022-10-03 16:58] Riddhi9570 commented on #35
@Faizan96322
- Nice to know that you are eager for the contribution😃!
- But this issue is assigned to someone else.
- You may please raise or claim another issue.
- Also, informing that further contributions to this repo won't be considered for hacktoberfest 2022.
- You may contribute to this repository as open source and provide hackerrank problem solutions. Your contributions are always welcome!

[2022-10-03 17:21] RishitaGangwal commented on #197
Hey @Riddhi9570 Please mark this issue under hacktoberfest.

[2022-10-03 17:22] RCNOverwatcher commented on #211
@Riddhi9570 That's fine. I just sent a pull request for the fix.

[2022-10-03 17:30] Riddhi9570 commented on #197
@RishitaGangwal
- I'm sorry to inform you that unfortunately, further contributions to this repo won't be considered for hacktoberfest 2022.
- You may still contribute to this repository as open source and provide hackerrank problem solutions. Your contributions are always welcome!
- Also, if you are  new to github and looking to contribute to this repository as first time contributor before contr

[2022-10-03 17:34] #196 closed

[2022-10-03 17:46] Riddhi9570 commented on #190
Hey, @Prajwalgupta You have made a PR in your forked repo and did not made a PR in the original repo.

[2022-10-03 17:50] Riddhi9570 commented on #167
Hey, @sambhavgupta0705, A new folder has been created for algorithms and you can put your files into it. Before that, please make sure that your forked repo is up-to-date with the original repo. Thanks!

[2022-10-03 17:52] #58 closed

[2022-10-03 18:22] #198 closed

[2022-10-04 01:35] Uday-kiran9147 commented on #24
Hey! @Riddhi9570  Assign me this issue,
https://www.hackerrank.com/challenges/java-substring/problem?isFullScree

[2022-10-04 02:50] Tasneem-I opened #219 "Pyhon Write A Function Problem"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/write-a-function/problem?isFullScreen=true

### Language

If you are contributing to data structures or algorithms problem, which programming language will you use?
Python

### Issue Checklist

* [yes ] Have you checked that the hackerrank problem you are raising is not already present in

[2022-10-04 02:50] Tasneem-I opened #220 "Pyhon Write A Function Problem"
### Hackerrank problem link

Provide your hackerrank problem link here.
https://www.hackerrank.com/challenges/write-a-function/problem?isFullScreen=true

### Language

If you are contributing to data structures or algorithms problem, which programming language will you use?
Python

### Issue Checklist

* [yes ] Have you checked that the hackerrank problem you are raising is not already present in

[2022-10-04 05:26] #220 closed

[2022-10-04 05:30] #28 closed

[2022-10-04 07:37] Riddhi9570 commented on #24
Hey, @Uday-kiran9147 this hackerrank problem is already present in the repo.

[2022-10-04 07:41] Riddhi9570 commented on #219
Hey,  @Tasneem-I thanks for raising an issue but  This hackerrank problem is already present in the repo. You may raise another issue for new problem.

[2022-10-04 07:41] #219 closed

[2022-10-05 06:59] Mspurohit15 commented on #24
Hey  !  @Riddhi9570 Assign me this issue with #Hacktoberfest
I since those are missing and not assign to anyone
https://www.hackerrank.com/challenges/java-bigdecimal/problem?isFullScreen=true
https://www.hackerrank.com/challenges/java-primality-test/problem?isFullScreen=true
https://www.hackerrank.com/challenges/java-biginteger/problem?isFullScreen=true

[2022-10-05 20:29] yogesh-9999 commented on #175
assign me

[2022-10-06 08:13] Mspurohit15 commented on #65
Hey @Riddhi9570  assign me this issued i'm also  trying to contribute and finally on your repo

[2022-10-07 07:31] kb-s commented on #25
Hey @Riddhi9570, My pull request of this repo is excluded from HacktoberFest

[2022-10-07 12:21] YashGupta018 commented on #23
I want to contribute on this issue and I've already solved this problem before, Please assign me with hactoberfest'22 tag

[2022-10-07 17:35] VedantBandeJain commented on #179
Hello @Riddhi9570  can u please assign this to me as i am beginner to hacktober fest

[2022-10-07 17:39] VedantBandeJain commented on #167
Hello ,please assign this issue to me

[2022-10-07 17:59] VedantBandeJain commented on #23
Can you please assign this issue to me under hacktoberfest
 tag

[2022-10-10 06:35] Shikha785 commented on #32
Hey @Riddhi9570 please assign me this issue ,If it is not solved yet!

[2022-10-18 20:39] snehasish-pathak commented on #24
**https://github.com/shubham7668/hacktober**

[2022-10-22 08:06] dhruvachaudhari opened #225 "C: Printing patterns using loops"
### Hackerrank problem link

https://www.hackerrank.com/challenges/printing-pattern-2/problem

### Language

C
### Issue Checklist

* [x] Have you checked that the hackerrank problem you are raising is not already present in the repo?
* [x] Have you checked that the hackerrank problem you are raising is not raised by or assigned to another contributor?
* [x] Have you read the [CONTRIBUTING.md](htt

[2022-10-22 08:11] dhruvachaudhari commented on #225
I am new to open source and this is my first time contributing in it.
Please assign this issue to me under Hactoberfest label , so that this will be my first contribution in it too.

[2022-10-22 15:08] SwaggyRajput commented on #209
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:09] SwaggyRajput commented on #192
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:10] SwaggyRajput commented on #65
Hello mam can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:10] SwaggyRajput commented on #35
Hello mam, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 16:25] kashish0604 commented on #35
hey @Riddhi9570 can u assign this issue to me i can work on it

[2022-10-23 01:52] dhruvachaudhari commented on #27
@Riddhi9570  can you assign me this problem?
I am a active participant and have also raised issue #225 in this repo.

[2022-10-23 12:08] #167 closed

[2022-10-24 15:50] 20a31a05g6 commented on #65
class FactorialExample2{
 static int factorial(int n){
  if (n == 0)
    return 1;
  else
    return(n * factorial(n-1));
 }
 public static void main(String args[]){
  int i,fact=1;
  int number=4;//It is the number to calculate factorial
  fact = factorial(number);
  System.out.println("Factorial of "+number+" is: "+fact);
 }
}

Correct the mistake in this code

Help by correcting it and resendin

[2022-10-24 15:50] 20a31a05g6 commented on #65
class FactorialExample2{
 static int factorial(int n){
  if (n == 0)
    return 1;
  else
    return(n * factorial(n-1));
 }
 public static void main(String args[]){
  int i,fact=1;
  int number=4;//It is the number to calculate factorial
  fact = factorial(number);
  System.out.println("Factorial of "+number+" is: "+fact);
 }
}

Correct the mistake in this code

Help by correcting it and resendin

[2022-10-24 16:06] 20a31a05g6 commented on #24
class FactorialExample2{
 static int factorial(int n){
  if (n == 0)
    return 1;
  else
    return(n * factorial(n-1));
 }
 public static void main(String args[]){
  int i,fact=1;
  int number=6;//It is the number to calculate factorial
  fact = factorial(number);
  System.out.println("Factorial of "+number+" is: "+fact);
 }
}

Explain this step by step please

[2022-10-24 16:06] 20a31a05g6 commented on #65
Please help explain line by line

class FactorialExample2{
 static int factorial(int n){
  if (n == 0)
    return 1;
  else
    return(n * factorial(n-1));
 }
 public static void main(String args[]){
  int i,fact=1;
  int number=6;//It is the number to calculate factorial
  fact = factorial(number);
  System.out.println("Factorial of "+number+" is: "+fact);
 }
}

[2022-10-25 11:40] #209 closed

[2022-10-31 16:42] #197 closed